
#table {
  display: table;
  width: 100%;
}
.row {
  display: table-row;
  color: 1px solid #000000;
}

.cell {
  display: table-cell;
  padding: 3px;
  border-bottom: 1px solid #ddd;
}
.col1 {
  width: 20%;
}
.col2 {
  width: 20%;
}
.col3 {
  width: 40%;
}
.col4 {
  width: 10%;
}
.cursor-ture:hover{
  cursor: pointer;
}

/*
- skeyword : show child element when hovering parent element
- Show child element on parent hover in CSS 
https://stackoverflow.com/questions/34459841/show-child-element-on-parent-hover-in-css/34459870 */

.row:hover .col5 > p {
  visibility: visible;
}

.col5 {
  width: 10%;
}

.row .col5 > p{
  visibility: hidden;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin : 0 2em;
  /* margin-top: 60px; */
}

.text-bold{
  font-weight: bold;
}