
#table {
  display: table;
  width: 100%;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  padding: 3px;
  border-bottom: 1px solid #ddd;
}
.col1 {
  width: 20%;
}
.col2 {
  width: 20%;
}
.col3 {
  width: 40%;
}
.col4 {
  width: 20%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin : 0 2em;
  /* margin-top: 60px; */
}
